* {
  box-sizing: border-box;
}

.demo-area {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.demo-area p {
  width: 50ch;
  background: #bfbfbf;
}

.resize {
  padding: 1rem;
  border: 1rem solid #907c90;
}
